.account-selection-container {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    color: #0056b3;
}

.sub-header {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.gic-selection,
.registered-gic-details {
    margin-bottom: 20px;
}

.field, .details-field {
    margin-bottom: 15px;
}

label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

select,
input[type="text"],
input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.gic-info {
    background-color: #e9f7ff;
    padding: 10px;
    border-radius: 4px;
}

.learn-more {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.learn-more:hover {
    background-color: #004494;
}

.next-button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.next-button:hover {
    background-color: #218838;
}